@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --radius: 0.5rem;
  }
}

.caption {
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0.04em;
  text-align: left;
  color: #9396a5;
}

.bodyBig {
  font-size: 18px;
  font-weight: 600;
  line-height: 30px;
  text-align: left;
  color: #1C1F2F;
}
